*{margin:0;padding:0;box-sizing: border-box;}

.main{
    background-image:linear-gradient(rgb(75, 2, 2, 0.3), rgba(0, 0, 0, 0.8)), url(/assets/background-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
}
.main-title{
    margin-top:100px;
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 300;
    color:rgb(255, 255, 255,0.5);
}
.icons{
    width:90%;
    height:auto;
    margin: auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.icons img{
    width:30px;
    height: 30px;
    margin:30px;
}